torch
torchvision
pillow
numpy
typing
scikit-image
huggingface_hub>=0.20.0
transformers==4.48.3
djangorestframework==3.15.2
Django==5.1.6
requests==2.32.3
gunicorn==23.0.0
django-cors-headers==4.7.0
whitenoise==6.5.0
python-dotenv 
psycopg2-binary 
dj-database-url
opencv-python
